/* header */
.color-1 {
    background-color: #252838;
}

.color-2 {
    background-color: #2bd5e0;
}

.color-3 {
    background-color: #361f53;
}

.texto-1 {
    color: #e5ebf5;
    font-family: 'Roboto';
}

.navbar h1 {
    font-family: 'Audiowide';
}

.navbar {
    border-bottom: 2px solid #2bd5e0;
}

.navbar h1 {
    margin-left: 20px;
}

.nav-link:hover {
    color: #e5ebf5;
}

.nav-link:visited, /* Elmina los colores visitados */
.nav-link:focus,
.nav-link:active {
  color: #e5ebf5;
}

#navbarNav {
    justify-content: flex-end;
    margin-right: 20px;
}

#titulo-principal {
    margin: 0;
    text-align: center;
    background-color: #252838;
    color: #e5ebf5;
    padding: 10px 0;
    font-family: 'Audiowide';
}

#subtitulo-principal {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 20px 0px;
    background-color: #252838;
    color: #e5ebf5;
    font-family: 'Exo 2';
}

.shop-cart {
    margin-right: 20px;
    background-color: #2bd5e0;
    border-radius: 15px;
    padding: 0px 25px;
    cursor: pointer;
    border: 2px solid #361f53;
    box-shadow: 0px 0px 10px rgba(43, 213, 224, 0.3);
    transition: 0.5s ease;
    color: #361f53;
}

.shop-cart svg {
    height: 35px;
    width: 35px;
    color: inherit;
}

.shop-cart:active {
    background-color: #361f53;
    color: #e5ebf5;
}

/* Carrusel */

.carousel-item {
    background-color: #361f53;
}

.carousel-item h2 {
    color: #e5ebf5;
    font-family: 'Audiowide';
}

.carousel-item p {
    margin-right: 100px;
    color: #e5ebf5;
    font-family: 'Roboto';
}

.img-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    margin-right: 80px;
    height: 295px;
    width: 295px;
}

.carousel-item img {
    border: 3px solid #2bd5e0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(43, 213, 224, 0.3);
}

/* Lista de compras */

.shopping-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    position: absolute;
    height: auto;
    width: 350px;
    background-color: #2bd5e0;
    top: 10%;
    right: 0%;
    transition: 1s ease;
    border-radius: 30px;
    padding: 20px;
    color: #e5ebf5;
}

.shop-hidden {
    display: none;
}

.shop-list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
    background-color: #361f53;
    border-radius: 50px;
    padding: 10px;
}

.shop-list-item img {
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.shop-list-item h6 {
    margin: 0;
}

.shop-list-item span {
    cursor: pointer;
    font-weight: 700;
}

.shop-list-button-container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.text-container-shop {
    display: flex;
    color: #361f53;
    margin-top: 10px;
    justify-content: center;
}

.text-container-shop span {
    font-size: large;
    font-weight: 700;
}

#purchase-button {
    margin: 0;
    margin-top: 10px;
    background-color: #361f53;
    color: #e5ebf5;
    margin-right: 10px;
    height: auto;
}

#clear-button {
    margin: 0;
    margin-top: 10px;
    background-color: #361f53;
    color: #e5ebf5;
    margin-left: 10px;
    height: auto;
}


/* catalogo */

/* Teconologia */

/* Sobre nosotros */

/* Footer */
